body {
    
    /* align: center;  how to align the body to the center auto????!!!*/
    /* margin-top: 25%;  
    margin-left: 50%; */
    margin-left:   35%;
    margin-top: 200px;
    
}

.Minesweeper-board {
    display: inline-block;
    border: 2px solid #333;
    background-color: rgb(238, 232, 232);
    padding: 10px;
}

.Minesweeper-board table {
    border-collapse: collapse;
    width: 100%;
}

.Minesweeper-board td {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    width: 40px;
    height: 40px;
    border: 1px solid #ccc;
    cursor: pointer;
    
}

.Minesweeper-board td:hover {
    background-color: #d1d4d1;
}

.Level-btns {
    margin-bottom: 50px;
    
    
}

.Level-btns .Btn {
    padding: 10px 20px;
    border: 5px solid rgb(197, 194, 194);
    font-size: 15px;
    cursor: pointer;
    color:rgb(34, 0, 255)
}





